/** SOURCE: https://fonts.googleapis.com/css?family=Urbanist */
/* latin-ext */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vH5mqe8Q.woff2)
          format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vEZmq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
                    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/** SOURCE: https://fonts.googleapis.com/css2?family=Sanchez&display=swap */
/* latin-ext */
@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sanchez/v13/Ycm2sZJORluHnXbIfmdR_SwE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sanchez/v13/Ycm2sZJORluHnXbIfmlR_Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
                    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
    --main-background-color: #1A1A1D;
    --primary-color: #b42f5d;
    --secondary-color: #EE4C7C;
    --primary-text-color: #e8d1d7;
    --secondary-text-color: white;
    --line-color: #C3073F;
    --accent-color: #6F2232;

}

h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--primary-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;
    letter-spacing: .25em;
    animation:
            typing 3.5s steps(30,end),
            blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 35ch}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
}

*{
    font-family: Urbanist;
    color: var(--primary-text-color);
}

h1{
    font-size: 2rem;
}

h1, h2, h3{
    font-family: Sanchez;
}

h1, h2 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav p {
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: .25em;
}

nav a {
    text-decoration: none;
    color: white;
}

nav p:hover{
    background-color: var(--accent-color);
}

.profile-picture{
    width: 30vw;
    height: 40vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: var(--main-background-color);
    border-radius: 1em;
}

main{
    background-color: var(--main-background-color);
}

hr {
    border-color: var(--line-color);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}